.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #ff9e1a;
}

.login > Button {
  width: 200px;
  background-color: white;
  color: #ff9e1a;
  margin-right: 10px;
  font-weight: 800;
}
.login > button:hover {
  background-color: #ff9e1a;
  color: white;
}
.login > div > img {
  object-fit: contain;
  height: 400px;
}

.login > div > h1 {
  color: white;
  text-align: center;
  margin-right: 20px;
}
